<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>

    <header>
      <div class="header-btns">
        {% if user.is_authenticated %}
          <a href="{% url "user_logout" %}">Log Out </a>

        {% else %}
          <a href="{% url "user_login" %}"> Log in</a>
          <a href="{% url "register" %}"> Sign Up</a>
        {% endif %}
    </div>
    </header>


    {% comment %} {% block content %} {% endcomment %}
    <main>
      <h1>Home</h1>
      <p>{{ emp.intime }}</p>

    </main>
    {% comment %} {% endblock content %} {% endcomment %}


    <footer>
        <div class="sticky-fixed-popup">
            {% comment %} Login Time: 00 Hrs. : 00 Mins. : 00 Sec. {% endcomment %}
            Login Time :- {{ duration }}
        </div>
    </footer>

</body>
</html>